@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  font-family: Ubuntu, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 35px 50px 80px;
  border: none;
  border-radius: 10px;
  width: 800px;
  max-width: 90%;
}

.container h3 {
  font-size: 1.5rem;
  color: darkgreen;
  margin: 0;
  opacity: 0.5;
  letter-spacing: 1.2px;
  overflow-wrap: break-word;
}

.joke {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 50px auto;
  max-width: 90%;
}

.btn {
  background-color: darkslategray;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  padding: 15px 40px;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(.97);
}